
<h3 class="mt-2 mb-4">Calendario de 
    <p-dropdown [options]="years" [(ngModel)]="selectedYear" optionLabel="name" (onChange)="changeYear()"></p-dropdown>
    para el centro de 
    <p-dropdown [options]="centers" [(ngModel)]="selectedCenter" optionLabel="name" (onChange)="changeCenter()"></p-dropdown>
    y el colectivo
    <p-dropdown [options]="collectives" [(ngModel)]="selectedCollective" optionLabel="name" (onChange)="changeCollective()"></p-dropdown>
</h3>

<div style="display: flex; flex-direction: row;">
    <div id="calendarsDiv" #calendarsDiv style="display: flex; flex:1; flex-direction: row; flex-wrap: wrap; overflow-y: auto; gap: 20px; justify-content: space-evenly; margin-bottom: 2rem;">
        <app-component-calendar *ngFor="let month of [0,1,2,3,4,5,6,7,8,9,10,11]" [year]="1 * this.selectedYearAux.code" [month]="month" [metadataDay]="selectedCalendar" (clickEvent)="selectDate($event)"></app-component-calendar>
    </div>

    <div class="flex flex-column panel">
        <h3 class="mt-0 text-center">Tipos de horario</h3>

        <div class="ml-5" style="display:flex; flex-direction: column; gap: 5px;">
            <div *ngFor="let type of scheduleTypes" style="align-items: center; height:30px; cursor: pointer; display: flex; flex-direction: row;" (click)="selectType(type)" class="p-4 pl-2 pr-0" [ngClass]="{'selected-type' : type == selectedType}">
                <div style="width: 25px; height: 25px; border-radius: 50%; outline: 1px solid rgba(0, 0, 255, 0.2);" [ngStyle]="{'background-color': type.color}"></div>
                <div class="pl-2 flex-1" style="height: 25px;">{{type.name}}</div>
                <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-text"></p-button>
            </div>
        </div>

        <!--<div class="mt-3 text-center">
            <p-button icon="pi pi-plus" styleClass="p-button-outlined" label="Nuevo tipo de horario"></p-button>
        </div>-->

        <div class="flex-1"></div>

        <h3 class="mt-6 text-center">Detalle del calendario laboral</h3>

        <div class="mb-8 justify-content-center flex flex-row" *ngIf="collectiveData">
            <div class="w-12rem">
                Maximo horas:<br/>
                Horas laborales:<br/>
                Días festivos:<br/>
                Días Vacaciones:<br/>
                Días asuntos propios:<br/>
                Días adicionales:<br/>
                Días libre disposición:
            </div>
            <div class="w-4rem text-right">
                {{collectiveData.maxHourYear}}<br/>
                {{horasLaborales | number : '1.2-2' : 'es-ES'}}<br/>
                {{diasFestivos}}<br/>
                {{collectiveData.holidays}}<br/>
                {{collectiveData.personalDays}}<br/>
                {{collectiveData.additionalDays}}<br/>
                {{collectiveData.freeDays}}
            </div>
        </div>

        <div class="mt-3 text-center">
            <p-button icon="pi pi-save" styleClass="p-button" label="Guardar" (click)="saveDays()"></p-button>
        </div>

        <div class="mt-3 text-center">
            <p-button icon="pi pi-save" styleClass="p-button" label="Generar PDF" (click)="openPDF()"></p-button>
        </div>

    </div>

</div>
<div class="loadWrapper flex align-items-center flex-column justify-content-center" *ngIf="isLoading">
    <p-progressSpinner></p-progressSpinner>
</div>
<p-toast position="top-center"></p-toast>
<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle" #confirmDialog></p-confirmDialog>
